$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.jumbo {
    color: #c1e79a;
}

.front {
    display: inline-block;
}


// .headliner {
//     font-family: 'Luckiest Guy', cursive;
//     font-size: 50px:
// }
.waves {
    background: url(../images/chs-beachy.png);
    height: 100px;
}

.beach-getter ul > li {
    font-family: 'Cuprum', sans-serif;
    font-size: 60px;
}

h6 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    // color: 
}
h5 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding: 10px;
}

.sig {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    padding: 10px, auto, 20px, auto;
}

.some {
    font-family: 'Raleway', sans-serif;
    font-weight: 600px;
    font-size: 20px;
}

// .header-interior {
//     margin-top: 0px, auto;
//     padding: 0px;
//     min-height: 200px;
//     width:100%;
// }

.container-wide {
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
    // margin:0px 0px;
    // padding:0px 0px;
    background: url(../images/chs-beachy.png);
    background-repeat: none;
    min-height:30%;
}

.gulls {
    background: url(../images/gulls-header.jpg);
    // background-position: 150px 100px;
    // background-repeat: none;
}

.white {
   background-color: #fff6ea;
}

.weather-detail > li {
    list-style-type: none;
    text-decoration: none;
}

.beachpic{
    width:50%;
    margin: 0px, auto;
}

.red {
    border-radius: 120px;
    opacity: .75;
    background-color: #FF0000;
}

.blue {
    border-radius: 120px;
    opacity: .75;
    background-color: #0000FF;
    // background: url(../images/brookeStar.png);
}

.angular-leaflet-map { 
    min-height: 480px;
    width:640px;
}

.red {
    border-radius: 120px;
    opacity: .75;
    background-color: #FF0000;
}

.beach-preview ul > li {
    display: inline-block;
    list-style: none;
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 15px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    background: url(../images/watercolor-footer.jpeg);
    min-height: 100px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
// .jumbotron {
//     text-align: center;
//     border-bottom: 1px solid #e5e5e5;
// }

.beachlover {
    // background: url(../images/beach-way.jpg);
    background: url(../images/gulls-header.jpg);
    background-position: 50px 250px;
    // background-repeat: none;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    height:150px;
    width: 90%;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        background: url(../images/watercolor-footer.jpeg);
        height: 400px;
    }
}



