
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right beach-getter">
      <li><a ng-href="#">Home</a></li>
      <li class="active"><a ng-href="#/map">Map</a></li>
    </ul>
    <h6 class="text-muted">Beach Lover</h6>
  </div>
<!-- <div class="white"> -->

    <h5>{{marker.name}}</h5>
    <!-- <img class="beachpic" ng-src="{{marker.image}}"></img>    -->

    <!-- <div class="container-fluid beachy-stuff"> -->
       <div class="column1">
        <h4>Today's Forecast for: {{marker.name}}</h4>
          <ul class="weather-detail" ng-repeat="today in todaysweather" class="weather-data">
            <hr>
            <li><h4>@ Time: {{today.time}} (24/hr)</h4></li>
            <li>Humidity: {{today.humidity}}*</li>
            <li>Air temperature: {{today.tempF}}*</li>
            <li>Rain: {{today.precipMM}}*</li>
            <li>Wave height: {{today.swellHeight_m}} (meters) </li>
            <li>Water temperature: {{today.waterTemp_F}}*</li>
            <li>Wind Speed:{{today.windspeedKmph}} (knots) From {{today.winddir16Point}}</li>

            
              <!--    <li><img class="beachy-feature" src="../images/b-wave.png"></img>Wave height: {{today.swellHeight_m}} (meters) </li> -->
            <!--  <li><img class="beachy-feature" src="../images/b-wave.png">Water temperature: {{today.waterTemp_F}}*</li> -->
          </ul>

      </div>

       <div class="column2">
        <!-- <h5>{{marker.name}}</h5> -->
        <img class="beachpic" ng-src="{{marker.image1}}"></img>
        <img class="beachpic" ng-src="{{marker.image2}}"></img>    
        <h4>Beach Details</h4>
        <p>Beach Latitude: {{marker.lat}}</p>
        <p>Beach Longitude: {{marker.lng}}</p>
      </div>

   <!--  </div> -->
  

 <hr>
  <div class="myfooter">
    <ul>
      <li><p class="sig">♥ By Brooke Casey</p></li>
      <!-- <li><img src="../images/oceanfront_icon.png" class="lover"></img></li> -->
  </ul>
  
</div>
</div>
<!-- </div> -->

