

<!-- <div class="gulls"> -->
  <div class="header-interior gulls">
        <ul class="nav nav-pills pull-right">
          <li><a ng-href="#">Home</a></li>
          <li><a ng-href="#/map">Map</a></li>
        </ul>
        <h3 class="text-muted">Beach Lover</h3>
  </div>
<!-- </div> -->
<div class="container">
<div class="white">

  <div class="row marketing">
    <h1>Nice choice! {{marker.name}}</h1>
  </div>

  <!-- <div class="row marketing"> -->
    <div class="col-lg-6">
        <h4>Beach Features</h4>
        <p>{{marker.lat}}</p>
        <p>{{marker.lng}}</p>
        <p>{{marker.parking}}</p>
        <img class="beachpic" ng-src="{{marker.image}}"></img>  
    </div>

    <div class="col-lg-6"> 
       <h3>Today's Weather Forecast for: {{marker.name}}</h3>
          <ul class="weather-detail" ng-repeat="today in todaysweather">
            <li><h4>Time: {{today.time}} (24/hr)</h4></li>
            <li>Hourly humidity: {{today.humidity}}</li>
            <li>Air temperature: {{today.tempF}}</li>
            <li>Expected wave height in meters: {{today.swellHeight_m}}
            <li>Water temperature: {{today.waterTemp_F}}</li>
          </ul>
    </div>



  <div class="footer container-wide">
    <p>♥ By Brooke Casey</p>
  </div>
</div>
</div>

