<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/map">Map</a></li>
    <li class="active"><a ng-href="#/beach">Beach</a></li>

  </ul>
  <h3 class="text-muted">gitNgbeachy</h3>
</div>

 <div>
 <!-- {{markersTest}} -->



  <p>{{marker.name}}</p>
  <p>{{marker.lat}}</p>
  <p>{{marker.lng}}</p>

</ul>


</div>
  

 

    <div class="col-lg-4 row marketing">
      <img ng-src="images/beach-holder.jpg" width="100px"></img>
    </div>



    <div class="col-lg-4">
    <h3>Beach Features</h3>
      <ul>
        <li>Beach feature</li>
        <li>Beach feature</li>
        <li>Beach feature</li>
        <li>Beach feature</li>
        <li>Beach feature</li>
      </ul>
    </div>

    <div class="col-lg-4">
    <h3>Weather Details</h3>
      <ul>
        <li>Weather data</li>
        <li>Weather data</li>
        <li>Weather data</li>
        <li>Weather data</li>
      </ul>
    </div>

  <div class="row marketing">
    <h2>Hardcoded charleston weather</h2>
      <p><a class="btn btn-lg btn-success pull-left" ng-click="getWeather()">Get Beach Weather</a></p>

      <ul ng-repeat="today in todaysweather">
        <li><h3>{{today.time|date:'shortTime'}}</h3></li>
        <li>Hourly humidity: {{today.humidity}}</li>
        <li>Air temperature: {{today.tempF}}</li>
        <li>Expected wave height in meters: {{today.swellHeight_m}}
        <li>Water temperature: {{today.waterTemp_F}}</li>
      </ul>

  </div>

 <!--  <div class="row">
     <p><a class="btn btn-lg btn-success pull-right" ng-click="#">Get Directions</a></p>
  </div>
   --> 
 <hr>
<!-- <div class="beach-preview row">

  <h2>Your nearby alternatives</h2>
   <h4>This is just a model of the information for planning</h4>
    <div class="alert alert-success">This is awesome</div>
  <ul>
    <li class="beach-snap"><img ng-src="images/beach-holder.jpg"></img><br><p><a class="btn btn-md btn-success" >See More</a></p></li>
    <li class="beach-snap"><img ng-src="images/beach-holder.jpg"></img><br><p><a class="btn btn-md btn-success" >See More</a></p></li>
    <li class="beach-snap"><img ng-src="images/beach-holder.jpg"></img><br><p><a class="btn btn-md btn-success" >See More</a></p></li>
  </ul>
</div> -->
</div>

<div class="footer">
  <p>♥ By Brooke Casey</p>
</div>