<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/">Home</a></li>
    <li class="active"><a ng-href="#/geo">Find Ya</a></li>
  </ul>
  <h3 class="text-muted">gitNgbeachy</h3>
</div>

<div class="row marketing col-lg-6">

  {{testData}}
 
  <h4>Beaching Time</h4>
  <button ng-click="addMarkers()">Beach Me</button>

  <!-- <button ng-click="getLocation()">Find Me</button> -->
 
    <p>Your location is: {{center.lat}},{{center.lng}} </p>
    <div class="beacheshere">
      <button ng-click="getbeachdata()">Add Beach Data</button>
      <p> beach names shall be listed here</p>
      <h3>Beach Data from my beaches file- unfiltered for location</h3>
      <ul ng-repeat="beach in beachready">
        <li>{{beach.properties.title}}</li>
      </ul>

    </div>
    <div>
      <h4>Weather here</h4>
      <button ng-click="getWeather()">Get Weather</button>
      
      <h2>Hardcoded charleston weather</h2>

      <ul ng-repeat="today in todaysweather">
        <li><h3>{{today.time|date:'shortTime'}}</h3></li>
        <li>Hourly humidity: {{today.humidity}}</li>
        <li>Air temperature: {{today.tempF}}</li>
        <li>Expected wave height in meters: {{today.swellHeight_m}}
        <li>Water temperature: {{today.waterTemp_F}}</li>
      </ul>
 
    </div>
  
</div>
<div class="col-lg-6 marketing">
  <h4>This is where the map will go</h4>

  <leaflet center="center" markers="markers" geojson="geojson"></leaflet>
    
</div>
<div class="row marketing">
  <!-- <ul>
    <li ng-repreat="marker in markers"></li>
  </ul> -->
  </div>


<div class="footer">
  <p>♥ By Brooke Casey</p>
</div>