<div class="container">

  <div class="header">
    <ul class="nav nav-pills pull-right beach-getter">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#/map">Map</a></li>
    </ul>
    <h6 class="text-muted">Beach Lover</h6>
  </div>


  <div class="jumbotron head">
    <h1 class="jumbo">WELCOME BEACH LOVER!</h1>
  </div>
<!-- 
  <div class="marketing">
    <h1 class="jumbo">WELCOME BEACH LOVER!</h1>
  </div> -->

  <div class="row">

    <div class="col-lg-6">
       <img src="images/beach-love.png"></img>
    </div>

    <div class="col-lg-6">
      <h5> I know. You don't have to explain. I LOVE the beach too. Come on let's see whats nearby</h5>
    </div>

</div>


<div class="footer">
  <p>♥ By Brooke Casey</p>
</div>

</div>