<div class="container">

  <div class="header">
    <ul class="nav nav-pills pull-right beach-getter">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#/map">Map</a></li>
    </ul>
    <h6 class="text-muted">Beach Lover</h6>
  </div>


  <div class="jumbotron">

    <div class="row">

      <div class="col-lg-3 front">
        <img src ="images/beach-love.png"></img>
      </div>

      <div class="col-lg-3 front">
        <h5>Let's Go...</h5>
        <img src="images/beach-sign.jpg"></img>
      </div> 

    </div>

       <div class="row">
          <p class="sig">♥ By Brooke Casey</h5>
      </div>
      
    </div>

  <div class="row">
      <p class="sig"> I know. You don't have to explain. I LOVE the beach too. Click the sign to see whats nearby!</p>
  </div>

</div>



