<div class="container">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/map">Map</a></li>
  </ul>
  <h6 class="text-muted">Beach Lover</h6>
</div>



  <div class="row marketing col-lg-6">
   
    <h4>Beaching Time</h4>

   <!--  <a class="btn btn-default" ng-click="addMarkers()">Show Me and Nearby Beaches</a> -->

    <a type="button" class="btn btn-default btn-lg" ng-click="addMarkers()">
    <span class="glyphicon glyphicon-star"></span> Show Me and My Nearby Beaches</a>
   
      <p>Here is you current location: {{center.lat}},{{center.lng}} </p>
    
  </div>
  <div class="col-lg-6 marketing">

    <leaflet center="center" markers="markers" defaults="defaults"></leaflet>
      
  </div>




<div class="footer">
  <p>♥ By Brooke Casey</p>
</div>

</div>