<div class="container">

  <div class="header">
    <ul class="nav nav-pills pull-right beach-getter">
      <li><a ng-href="#">Home</a></li>
      <li><a ng-href="#/map">Map</a></li>
      <li class="active"><a ng-href="#/road">About</a></li>
    </ul>
    <h6 class="text-muted">Beach Lover</h6>
  </div>

  	<div class="jumbotron">
        <img src ="images/beach-love.png"></img>
      	<p class="sig">TECHNOLOGY</p>
  			<ul class="tech">
  				<li><h3>Javascript, Angular JS, jQuery</h3></li>
  				<li><h3>MapBox API, HTML5 Geolocations, World Weather Free Marine API</h3></li>
  				<li><h3>HTML/CSS, Twitter Bootstrap</h3></li>
  			</ul>
  			<h3><a href="images/BeacherLoverApp-RequirementsDocument-June2014.pdf">Requirements Document</a></h3>
    </div> 

    <div class="marketing">
      <h5>RoadMap</h5> <p class="sig">For the Beach Lover</p>
      <img src="images/beachlover-car.jpg"></img>
    <h3></h3>
  	</div>

   <hr>
  <div class="myfooter">
    <ul>
 
      <li><p class="sig">♥ By Brooke Casey</p></li>
  </ul>
</div>



